.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #007bff;
}

.loading-animation {
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    width: 160px;
    color: #fff;
}

.letter {
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}
